/** _body-element **/

body
  // max-width: 1000px
  margin: auto
  background-color: $bg
  font-size: 14px
  line-height: 1.6
  font-family: 'Hind', sans-serif
  color: $text
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
