section.buyNow
  a#buy
  .col-1
    img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/cover.jpg")
  .col-2
    .description
      #text
        h3 Coming Soon! Motel California

        p MOTEL CALIFORNIA is a celebration of sparkling blue pools, flashing neon signs, automatic ice machines and bleached white towels. It is the story of the rapid rise and subsequent decline of the individually owned mom-and-pop motel in The Golden State. It is an exploration of theme-based marketing and a documentation of American culture at perhaps what will be the most prosperous time in United States history. 

        //- button Buy Now
        .buttons
          input(type="submit" class="btn" value="Preorder" name="order now")
          input(type="submit" class="btn" value="Press release" name="order now")

