section.buyNow
  a#buy
  .col-1
    img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/cover_new.jpg")
    p 
      a(href="https://www.flickr.com/photos/14696209@N02/albums/72157681790467802") Preview the book.
  .col-2
    .description
      #text
        h3 Motel California

        p MOTEL CALIFORNIA is a celebration of sparkling blue pools, flashing neon signs, automatic ice machines and bleached white towels. It is the story of the rapid rise and subsequent decline of the individually owned mom-and-pop motel in The Golden State. It is an exploration of theme-based marketing and a documentation of American culture at perhaps what will be the most prosperous time in United States history. 

        p Previous titles from the author include 
          a(href="https://www.flickr.com/photos/14696209@N02/albums/72157623752365543") Mid century by the Bay.

        p 
          b Motel California: $45 
          | plus tax (CA only) &amp; shipping.

        .buttons
          form(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
            input(type="hidden" name="cmd" value="_s-xclick")
            input(type="hidden" name="hosted_button_id" value="G3FKGTZSNKSAE")
            input(type="submit" class="buttons" value="Buy Now *" alt="PayPal - The safer, easier way to pay online!") 

          a(href="http://calmodbooks.github.io/bayAreaModernCards/motelCaliforniaPress.pdf" class="btn") Press Release

        p.small * Please #[span: a(href="mailto:info@calmodbooks.com") contact us] for bulk orders and international shipping.


