section
  h2 Explore the Deck
  .cards-wrap
    .card-hor#card1
      img(src="/assets/img/cards/sjpa.png")
    .card-vert#card2
      img(src="/assets/img/cards/pyramid.png")
    .card-vert#card3
      img(src="/assets/img/cards/paulMason.png")
    .card-hor#card4
      img(src="/assets/img/cards/csm.png")  
    .card-hor#card5
      img(src="/assets/img/cards/caseStudyHouse.png")
    .card-vert#card6
      img(src="/assets/img/cards/ibm.png")
