footer
  .small.copyright
    p Copyright Calmodbooks 2016
  .social
    ul.social-list
      li: a(href="mailto:info@calmodbooks.com")
        i.fa.fa-envelope
        span.hide Email
      li: a 
          i.fa.fa-facebook-square
          span.hide Facebook
      li: a
          i.fa.fa-flickr
          span.hide Flickr