footer
  .small.copyright
    p Copyright Calmodbooks 2016
  .social
    ul.social-list
      li: a(href="mailto:info@calmodbooks.com")
        i.fa.fa-envelope
        span.hide Email
      li: a(href="https://www.facebook.com/groups/115002571865695/")
          i.fa.fa-facebook-square
          span.hide Facebook
      li: a(href="https://www.flickr.com/photos/14696209@N02/")
          i.fa.fa-flickr
          span.hide Flickr