.header
  h1 
    | Bay 
    br
    | Area 
    br
    | Modern
  .navbar
    ul.nav
      li.big: a(href="#buy") Buy
      li.big: a(href="#exploreDeck") Explore
      li.big: a(href="mailto:info@calmodbooks.com") Contact
      li.big: a(href="#stores") Stores