.header
.navbar
  ul.nav
    li.bigger: a(href="#buy") Buy Now
    li.bigger: a(href="#press") Press
    li.bigger: a(href="#stores") Stores
    li.bigger: a(href="http://calmodbooks.github.io/bayAreaModernCards/cards.html") Bay Area Modern Cards
