section.press
  a#press
  .col-2
    .description
      #text
        h3 Motel California in the Press

        p 
          a(href="https://la.curbed.com/maps/midcentury-retro-hotels-motels-madonna-inn-california") - California’s Best Midcentury Motels, Mapped - Curbed, Los Angeles
          br
          a(href="http://kvpr.org/post/new-book-highlights-mid-century-motel-california-era") - New Book Highlights Mid-Century "Motel California" Era - KVPR Radio
          br
          a(href="http://www.pressdemocrat.com/lifestyle/7430356-181/santa-rosas-remodeled-astro-motel?artslide=0") - Santa Rosa’s Remodeled Astro Motel Readies for Liftoff - The Press Democrat
          br
          a(href="https://www.atomic-ranch.com/tour-roadside-blasts-from-the-past/?utm_source=AR+Newsletter&utm_campaign=bbafb68725-EMAIL_CAMPAIGN_2017_10_18&utm_medium=email&utm_term=0_0b8469f34c-bbafb68725-155386073") - California Motels Offer Blasts From The Past, Atomic Ranch
          br
          a(href="https://issuu.com/terrella/docs/fall18_flipbook_sm") - Book Review - CA Modern magazine – FALL 2018 - “That’s Entertainment”
          br
          a(href="http://www.metroactive.com/features/columns/Heather-David-Book-Motel-California.html") - Heather David's Coffee Table Tome Plumbs the Kooky History of Golden State Motels  - Metro News 
          br
          a(href="http://www.stephenhprovost.com/on-writing/motel-california") - "Motel California" By Heather M. David (Review)

            
        .buttons
          a(href="http://calmodbooks.github.io/bayAreaModernCards/motelCaliforniaPress.pdf" class="btn") Press Release
   .col-1
      img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/postcard.jpg")
      //-img(src="/assets/img/postcard.jpg")
   

       
