section.quote
  p.small.photo-credit Photo by Heather David
  .quote-bg
    .quote-box
      p “From International to Organic, from Googie to Brutalism, explore some of the unique architecture of the San Francisco Bay Area.”