section.quote
  p.small.photo-credit Photo by Heather David
  .quote-bg
    .quote-box
      p "For some travelers, the motel experience was the closest they might have to visiting the Hawaiian Islands… or a trip to the moon!"