section.stores
  a#stores
  .box
    .col-1
      h2 Retailers
      .store-list
        .left
          p.store
            span SFMOMA Gift Shop
            br
            | 151 3rd St.
            br
            | San Francisco, CA 94103 
          p.store
            span Antiques Colony 
            br
            | 1881 W San Carlos St.
            br
            | San Jose, CA 95128
        .right
          p.store
            span Museum of Neon Art
            br
            | 216 S. Brand Blvd. 
            br
            | Glendale, CA 91204 

          
      p.footnote Want to become a retailer? Contact us at 
            span: a(href="mailto:infocalmodbooks.com") info@calmodbooks.com
    .col-2
      .thumbs-wrap
        img(src="/assets/img/motel_bottom1.jpg")
        img(src="/assets/img/motel_bottom4.jpg")
        img(src="/assets/img/motel_bottom3.jpg")
        img(src="/assets/img/motel_bottom2.jpg")
        //-img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/bottom1.jpg")
       

      