section.stores
  a#stores
  .box
    .col-1
      h2 Retailers
      p.store
        span SFMOMA Gift Shop
        br
        | 151 3rd St
        br
        | San Francisco, CA 94103 
      p.store
        span William Stout Architectural Books
        br
        | 804 Montgomery St
        br
        | San Francisco, CA 94133
      p.store
        span Antiques Colony 
        br
        | 1881 W San Carlos St
        br
        | San Jose, CA 95128
    .col-2
      .thumbs-wrap
        img(src="/assets/img/bottom1.jpg")
        img(src="/assets/img/bottom4.jpg")
        img(src="/assets/img/bottom3.jpg")
        img(src="/assets/img/bottom2.jpg")
        //- img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/bottom1.jpg")

        //- p.small Eichler Fairbrae Swim Center – Photo by Heather David
        //- img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/bottom4.jpg")
        //- .thumb-box
        //-   img(src="/assets/img/bottom4.jpg")
          //- p.small Nolan Round House – Photo by Liz Rusby
        //- img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/bottom3.jpg")
        //- .thumb-box
        //-   img(src="/assets/img/bottom3.jpg")
          //- p.small Sunset View Mortuary – Photo by Ken Duffy
        //- img(src="http://calmodbooks.github.io/bayAreaModernCards/assets/img/bottom2.JPG")
        //- .thumb-box
          //- img(src="/assets/img/bottom2.jpg")
          //- p.small Marin Post Office – Photo by Heather David
      p.small.photo-credit Photo credits. Clockwise: Eichler Fairbrae Swim Center, Heather David - Nolan Round House, Liz Rusby - Marin Post Office, Heather David - Sunset View Mortuary, Ken Duffy

      