section 
  text-align: center
  h2
    padding-bottom: 50px
  .cards-wrap
    display: flex
    flex-wrap: wrap
    flex-direction: column
    align-items: center
    justify-content: space-between
    margin: 50px
    max-height: 900px
    overflow: hidden


    .card-hor,
    .card-vert
      text-align: center
      width: 33%
      max-height: 50%
      // margin: 10px
      position: relative
      
    .card-hor 
      img
        width: 100%

    .card-vert 
      img
        width: 80%
      .caption
        padding: 20px 55px

    .caption
      position: absolute
      background-color: rgba($bg, .9)
      height: 100%
      padding: 20px 10px
      text-align: left
      vertical-align: middle
      overflo: hidden
      span
        font-weight: bold



@media(max-width:1142px)
  section .cards-wrap
    max-height: 700px

@media(max-width:980px)
  section .cards-wrap
    .card-vert
      .caption
        padding: 20px 40px
    .caption
        font-size: 13px

@media(max-width:903px)
  section .cards-wrap
    max-height: 600px
    .card-vert
      .caption
        padding: 10px 30px
    .caption
        font-size: 12px
        padding: 10px
@media(max-width:844px)
  section .cards-wrap
    .caption
      font-size: 11px

@media(max-width:785px)
  section 
    h2
      padding-bottom: 40px
    .cards-wrap
      max-height: 500px
// @media(max-width:755px)
//   section .cards-wrap
//     .caption
//       font-size: 10px

// @media(max-width:667px)
//   section .cards-wrap
//     margin: 40px
//     max-height: 400px

@media(max-width:755px)
  section 
    h2
      padding-bottom: 10px
      font-size: 2.5em
    .cards-wrap
      flex-direction: row
      justify-content: space-around
      margin: 20px
      overflow: scroll
      max-height: 400px
      text-align: center
      .card-hor,
      .card-vert
        width: 100%
        margin: 10px
        img
          width: 90%
      #card1
        order: 1
      #card3
        order: 2
      #card5
        order: 3
      #card2
        order: 4
      #card4
        order: 5
      #card6
        order: 66
      .caption
        padding: 30px



    