section.stores
  background-color: $text
  color: $bg
  text-align: left
  overflow: hidden
  .box
    display: flex
    justify-content: center
    padding: 10px
    .col-1
      flex-grow: 1
      text-align: center
      h2 
        padding: 40px 5px
        margin: 0px
      span
        font-weight: bold

    .col-2
      flex-grow: 2
      display: flex
      flex-direction: column
      flex-wrap: wrap
      align-content: center
      max-height: 500px
      margin: 0px
      padding: 40px 20px
      img
        max-width: 200px
        padding: 10px

@media(max-width:700px)
  section.stores
    .box
      flex-direction: column
      .col-1
        h2
          padding: 20px
        p
          margin: 15px
      .col-2
        padding: 10px 20px

@media(max-width:400px)
  section.stores
    .box
      .col-2
        max-height: 300px
        img
          max-width: 150px
          padding: 5px


